
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #87CEEB, #1E90FF);
    background-size: 100% 100%; 
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    width: 350px;
    text-align: center;
    backdrop-filter: blur(10px);
}

.form-container h2 {
    color: #007BFF; 
    margin-bottom: 20px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: calc(100% - 40px);
    padding: 12px 20px;
    margin: 10px 0;
    display: block;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="password"]:focus {
    outline: none;
    background-color: #f2f2f2;
}

.form-container button {
    background-color: #007BFF;
    padding: 14px 0;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background-color: #0056b3; 
}

.form-container p {
    margin-top: 15px;
    font-size: 14px;
    color: #555; 
}

.form-container a {
    color: #0056b3;
    text-decoration: none;
    transition: color 0.3s;
}

.form-container a:hover {
    color: #003366; 
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-container input,
.form-container button,
.form-container p,
.form-container a {
    animation: fadeInUp 0.8s ease forwards;
}
